.portfolio-item {
    transition: 0.5s;
}

.portfolio-img {
    width: 100%;
    filter: brightness(0.5);
    border-radius: 10px;
}

.portfolio-item:hover {
    transform: scale(1.1);
}

.portfolio-img-description {
    font-size: 50px;
    text-align: center;
}

.container-large {
    width: 2500px;
}

.text-over-image-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media screen and (max-width: 991px) {
    .portfolio-img-description {
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-img-description {
        font-size: 60px;
    }
}